<div class="menu">
  <div class="giao-hang-den-lay">
    <div class="giao-hang-tan-noi">
      <button id="giao-hang">Giao hàng tận nơi</button>
    </div>

    <div class="dat-den-lay">
      <button id="dat-lay">Đặt đến lấy</button>
    </div>
  </div>


</div>

<div class="uu-dai">
  <div class="out-line-search">
    <div class="search">
      <input type="text" placeholder="Vui lòng nhập địa chỉ nhận hàng" id="vui-long-nhap-dia-chi" />

    </div>
    <div class="icon-search">
                <span class="material-symbols-outlined">
                    search
                </span>
    </div>
  </div>

  <div class="menu-tabs">
    <h2>
      <u class="mon-ngon-phai-thu">Món ngon phải thử</u>
      <u class="khuyen-mai">Khuyến mãi</u>
    </h2>
  </div>
</div>
