<div id="header-container">
  <div class="logo">
    <img src="./image 35.png" alt="Popeyes Việt Nam" id="logo-img">
  </div>
  <ul>
    <li><a href="#">Khuyến mãi</a></li>
    <li><a href="#">Thực đơn</a></li>
    <li><a href="#">Cửa hàng</a></li>
    <li><a href="#">Theo dõi đơn hàng</a></li>
    <li><a href="#">Đặt tiệc</a></li>
  </ul>


  <div class="order">
    <div class="vie">
      <p>VIE</p>
      <span class="material-symbols-outlined">
                    stat_minus_1
                </span>

    </div>
    <img src="./Screenshot 2025-02-17 204234.png" alt="rewards" id="rewards">

    <span class="material-symbols-outlined">
                person
            </span>
    <span class="material-symbols-outlined">
                shopping_bag
            </span>
  </div>
</div>

