<div id="header-container">
  <div class="logo">
    <img src="http://127.0.0.1:5500/image%2035.png" alt="Popeyes Việt Nam" id="logo-img">
  </div>
  <div class="center-bar">
    <ul> <li><a [routerLink]="['/promotion']" >KHUYẾN MÃI</a></li> </ul>
    <ul> <li><a [routerLink]="['/product']" >THỰC ĐƠN</a></li> </ul>
    <ul> <li><a [routerLink]="['/store']" >CỬA HÀNG</a></li> </ul>
    <ul> <li><a [routerLink]="['/tracking']" >THEO DÕI ĐƠN HÀNG</a></li> </ul>
    <ul> <li><a [routerLink]="['/book-party']" >ĐẶT TIỆC</a></li> </ul>
  </div>



  <div class="order">
    <div class="vie">
      <p>VIE</p>
      <span class="material-symbols-outlined">
                    stat_minus_1
                </span>

    </div>
    <img src="http://127.0.0.1:5500/Screenshot%202025-02-17%20204234.png" alt="rewards" id="rewards">

    <span class="material-symbols-outlined">
                person
            </span>
    <span class="material-symbols-outlined">
                shopping_bag
            </span>
  </div>
</div>

