<div class="footer">

  <div class="policy">
    <img src="http://127.0.0.1:5500/logo.png" alt="logo-bottom" id="logo-bottom">
    <h6> 2025 Poppeyes VietNam | Privacy Policy</h6>
  </div>

  <div class="hotline">
    <div id="hotline-number">
                <span class="material-symbols-outlined">
                    call
                </span>
      <h4>Hotline đặt hàng nhanh chóng</h4>
    </div>
    <p class="phone-number">19006008</p>

  </div>

  <div class="about-us">
    <h4>Về chúng tôi</h4>
    <h4>Tuyển dụng</h4>
    <h4>Cửa hàng</h4>
  </div>

  <div class="promotion">
    <h4>Thực đơn</h4>
    <h4>Khuyến mãi</h4>
    <h4>Rewards</h4>

  </div>

  <div class="follow">
    <h4>Theo dõi đơn hàng</h4>
    <h4>E-voucher</h4>
    <h4>Đặt tiệc</h4>

  </div>
  <div class="app ">
    <div class="bocongthuong">
      <img src="http://127.0.0.1:5500/credentials.png" alt="credentials">
    </div>
    <div class="store">
      <img src="http://127.0.0.1:5500/appstore-vn.png" alt="appstore-vn" class="app-store">
      <img src="http://127.0.0.1:5500/playstore-vn.png" alt="playstore-vn" class="app-store">

    </div>
  </div>
</div>
